.logo {
    max-width: 70px;
    padding-right: 10px;
}
body {
    background-color: #FFF5E0;
    line-height: 1.5em;   
}

h1, h2, h3, h5, footer, .nav-item, .bottom-nav-item {
    font-family: 'Alegreya', serif;  
    color: #541514;
}

h1 {
    font-weight: 800;
    letter-spacing: 1px;
}

h2 {
    font-weight: 700;
}

h4 {
    font-family: 'Alegreya Sans', sans-serif;
    color:#F16D7B;
    font-size: 20px;
}

p, ul {
    font-family: 'Alegreya Sans', sans-serif;
    color: #541514;
    font-size: 20px;
}

li {
    font-family: 'Alegreya Sans', sans-serif;
    color: #541514;
    font-size: 15px;
}

.brand-name {
    font-size: 25px;
}

.navbar {
    padding-bottom: 5px
}

.nav-item {
    font-weight: 700;
    font-size: 20px;
}

.navbar-nav {
    display: flex;  
    align-items: right;
    list-style-type: none;  
}

.navbar-collapse {
    margin-left: auto;
    width: 50%;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Code from w3schools tutorial on animated icon*/

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    display: none;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #541514;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

  /* End of cited code*/


.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;
}

@media(max-width: 1000px) {
    .navbar-collapse {
        display: none;
    }
    .container {
        display: inline;
    }
    .container-fluid {
        justify-content: space-between;
    }
}

.yellow-stripe {
    background-color: #FFD072;
    width: 100%;
    height: 5px;
}
.pink-stripe {
    background-color: #F16D7B;
    width: 100%;
    height: 5px;
}
.blue-stripe {
    background-color: #598588;
    width: 100%;
    height: 5px;
}

.stripes {
    padding-bottom: 50px;
}

.divider {
    background-color: #FFD072;
    width: 100%;
    height: 1px;
    margin-bottom: 60px;
}
.section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.storefront {
    border-radius: 10px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.slogan {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 700;
}

.button-nav {
    background-color: #F16D7B;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    color: #FFF5E0;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-right: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button:hover {
    background-color: #FF9FAA;
}

.nav-item:hover {
    color: #F16D7B;
}

#intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#intro-section > div {
    width: 45%;
}

#location-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#location-section > div {
    width: 45%;
}

@media(max-width:750px) {
    #intro-section, #location-section, .buttons {
        flex-direction: column;
    }

    #intro-section > div, #location-section > div, .button-nav {
        width: 100%;
    }

    .button-nav {
        margin-bottom: 10px;
    }
}

.link, a{
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 500;
    color: #F16D7B;
    text-decoration: underline;
    
}

#blue-link {
    color: #598588;
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 10px;
    height: 300px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

.driving-instructions, .transit-instructions {
    display: flex;
    justify-content: center;
    
}

.add-on {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #FAF7F2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    color:#541514;
    font-size: 15px;
    line-height: 1.3em;
    margin: 10px;
    width: 30%;
}

.card-header {
    padding-left: 20px;
    padding-right: 20px;
   
}

.card-body {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.additional-body {
    display: flex;
    flex-direction: column;
    font-family: 'Alegreya Sans', sans-serif;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

/*  COLLAPSABLE PARKING GARAGE  */

.full-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 18px;
    color: #541514;
}

#parking-button {
    background-color: #FAF7F2; 
    border: none;
    padding: 20px;
    border-radius: 10px;
}

.full-button:hover {
    color: #F16D7B;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #FAF7F2;
  }

@media(max-width: 850px) {
    .driving-instructions, .transit-instructions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
    }
}

.garage-name {
    font-weight: 700;
}

.phone-number {
    color: #598588;
}

.email {
    color: #F16D7B;
}

.bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 30px;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bottom-nav-item {
    font-weight: 700;
    font-size: 15px;
    
}


footer {
    display: flex;
    justify-content: center;
}
