body {
    background-color: #FFF5E0;
    line-height: 1.5em;
}
h1, h2, h3, footer, .nav-item {
    font-family: 'Alegreya', serif;
    color: #541514
}

p, ol, li, ul {
    font-family: 'Alegreya Sans', sans-serif;
    color: #541514
}



.driving-instructions, .transit-instructions {
    display: flex;
    justify-content: center;
    
}

.map-container {
    border-radius: 10;
}

.addition, .parking {
    display: flex;
    justify-content: center;
}