.logo {
    max-width: 70px;
}
body {
    background-color: #FFF5E0;
    line-height: 1.5em;
    
}

h1, h2, h3, footer, .nav-item {
    font-family: 'Alegreya', serif;  
    color: #541514;
}

hr {
    color: #541514;
}

.navbar-nav {
    display: flex;  
    align-items: right;
    list-style-type: none;  
}

.navbar-collapse {
    margin-left: auto;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media(max-width: 650px) {
    .navbar-collapse {
        display: none;
    }
}

.section {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    
}

p, li, ul {
    font-family: 'Alegreya Sans', sans-serif;
    color: #541514;

}


.container-fluid {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 10px;
    padding-right: 10px;
}

.storefront {
    border-radius: 20px;
    width: 100%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
}

#intro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro-section > div {
    width: 45%;
}

@media(max-width:750px) {
    #intro-section {
        flex-direction: column;
    }

    #intro-section > div {
        width: 100%;
    }
}

#location-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#location-section > div {
    width: 45%;
}





.driving-instructions, .transit-instructions {
    display: flex;
    justify-content: center;
    
}

.map-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    border-radius: 15px;
}

.addition, .parking {
    display: flex;
    justify-content: center;
}

.card {
    background-color: #FAF7F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    color:#541514;
    font-size: 15px;
    line-height: 1.3em;
    margin: 10px;
    width: 250px;
}

.card-body {
    display: flex;
    
    margin: 20px;
    
}

footer {
    display: flex;
    justify-content: center;
}
