.driving-instructions, .transit-instructions {
    display: flex;
    justify-content: center;
    
}

.map-container {
    border-radius: 10;
}

.addition, .parking {
    display: flex;
    justify-content: center;
}